@use "utilities" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
	background-color: $white;
	color: $black;
}

// nav

.nav {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: none;
	// overflow: hidden;
	z-index: 1000;
	
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 4em;
		background-color: $white;
		// overflow: hidden;
	}

	&__brand {
		text-decoration: none;
		font-size: 3.2rem;
		color: $black;

		.fa-tree {
			color: $dark;
			margin: 0.25em;
			margin-right: 0.05em;
			margin-left: .75em;
		}
	}

	&__btn {
		position: absolute;
		top: 0.25em;
		right: 0.25em;
		padding: 1em;
		background: none;
		border: none;
		cursor: pointer;

		.fa-bars {
			font-size: 3.2rem;
		}
	}

	&__mobile {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100vh;
		width: 100vw;
		text-align: center;
		background-color: $white;
		transform: translateX(110%);
		// transform: translateX(0);
		z-index: 1100;

		&--active {
			transform: translateX(0);
		}

		&-link {
			margin: auto 0;
			text-decoration: none;
			font-size: 3.2rem;
			color: $black;
		}
	}

	&__desktop {
		display: none;
	}
}

.hero-img {
	height: 50vh;
	@include heroImg("../../dist/img/hero-img-small.jpg");
	overflow: hidden;

	&__shadow {
		@include shadowImg;
	}

	&__content {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 1.5em;
		color: $white;
		z-index: 1;
	}

	&__header {
		font-weight: 300;
		font-size: 1.6rem;
	}
	
	&__text {
		margin-bottom: 7em;
		font-weight: bold;
		font-size: 2.4rem;
	}
}

// aboutus

.aboutus {
	&__img {
		width: 100%;
	}

	&__heading {
		font-weight: bold;
		font-size: 2.4rem;
		margin: 1em 0 .5em;
	}

	&__text {
		text-align: justify;
	}
}

// hero img section

.hero-img-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	@include heroImg("../../dist/img/hero-img-small-02.jpg");

	&__shadow {
		@include shadowImg;
	}

	&__text {
		width: 70%;
		margin: 0 auto;
		// left: .5em;
		// right: 1em;
		padding: 1em 3em;
		border: 1px solid $white;
		text-align: center;
		color: $white;
	}
}

// offer

.offer {
	&__text {
		margin-bottom: 1em;
		text-align: center;

		&--two {
			margin: 1.5em 0 2.5em;
		}
	}

	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__box {
		width: 80%;
		margin: 1em;
		padding: 1.5em 2em;
		border-radius: 5px;
		box-shadow: 0 0 10px $box-shadow;
		text-align: center;

		&-heading {
			font-size: 2rem;
			font-weight: normal;
		}

		&-price {
			margin: .5em 0;
			font-size: 3rem;
			font-weight: bold;
		}

		&-option {
			text-align: start;
			margin: 0.3em 0;

			
			&--gray {
				opacity: .5;
			}
			
			.fa-solid {
				margin-right: 1em;
				font-size: 1rem;
			}

			.fa-check {
				color: $green;
			}

			.fa-minus {
				color: $dark;
			}
		}

		&-btn {
			margin-top: 1em;
			color: $dark;
			@include button;
			transition: background-color .3s, transform .3s;

			&:hover {
				background-color: $light-white;
				transform: scale(.99);
			}

			&--green {
				box-shadow: 0 2px 5px $green;
				background-color: $green;
				color: $black;
				transition: background-color .3s, background-color .3s, color .3s;

				&:hover {
					box-shadow: 0 2px 5px $dark-green;
					background-color: $dark-green;
					color: $white;
				}
			}
		}
	}

	&__link {
		text-decoration: none;
		color: $green;
		
		&:link {
			color: $green;
		}

		&:visited {
			color: $dark-green;
		}
	}
}

// footer

.footer {
	background-color: $light-white;

	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	&__box {
		padding: 0 1em;

		&--one {
			padding-top: 1.5em;
		}

		&--two {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
	}

	&__brand {
		text-decoration: none;
		font-size: 3.2rem;
		color: $black;

		.fa-tree {
			color: $dark;
			margin: 0.25em;
			margin-right: 0.05em;
			margin-left: .75em;
		}
	}

	&__aboutus {
		grid-column: 1/2;
		grid-row: 1/2;
		margin: 1em;
	}

	&__company {
		grid-column: 1/2;
		grid-row: 2/3;
		margin: 1em;
	}

	&__docs {
		grid-column: 1/2;
		grid-row: 3/4;
		margin: 1em;
	}

	&__heading {
		margin-bottom: .8em;
		font-size: 2rem;
		font-weight: bold;
	}

	&__text {
		display: block;
		margin-bottom: 1em;
		text-decoration: none;
		font-size: 1rem;
		color: $dark;
		opacity: 0.7;
	}

	&__copyrights {
		margin: 2em;
		text-align: center;
		font-size: 1rem;
		color: $dark;
		opacity: 0.7;
	}
}
