@use "utilities" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 11em;
}

body {
	position: relative;
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
	background-color: $white;
	color: $black;
}

// nav

.nav {
	.navbar {
		@include nav;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 4em;
		box-shadow: 0 0 5px $shadow;
		background-color: $white;
	}
	
	&__brand {
		text-decoration: none;
		font-size: 3.2rem;
		color: $black;
	
		.fa-tree {
			color: $dark;
			margin: 0.25em;
			margin-right: 0.05em;
			margin-left: .75em;
		}
	}

	&__btn {
		position: absolute;
		padding: 1em;
		background: none;
		border: none;
		cursor: pointer;

		&-burger {
			top: 0.25em;
			right: 0.25em;
		}

		&-x {
			top: 0;
			right: 0;
		}
	
		.fa-bars {
			font-size: 3.2rem;
		}

		.fa-xmark {
			font-size: 4rem;
		}
	}
	
	&__mobile {
		@include nav;
		display: flex;
		flex-direction: column;
		bottom: 0;
		height: 100vh;
		width: 100vw;
		width: 100%;
		text-align: center;
		background-color: $white;
		transform: translateX(110%);
		transition: transform .3s;
		z-index: 1100;
	
		&--active {
			transform: translateX(0);
		}
	
		&-link {
			margin: auto 0;
			text-decoration: none;
			font-size: 3.2rem;
			color: $black;
			transition: color .3s;

			&:hover {
				color: $green;
			}
			
			&.active {
				color: $green;
			}
		}
	}
	
	&__desktop {
		display: none;
	}
}

// header

.hero-img {
	top: 0;
	height: 70vh;
	@include heroImg("../../dist/img/hero-img-small.jpg");
	overflow: hidden;

	&__shadow {
		@include shadowImg;
	}

	&__content {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 1.5em;
		color: $white;
		z-index: 1;
	}

	&__header {
		font-weight: 300;
		font-size: 1.6rem;
	}
	
	&__text {
		margin-bottom: 8em;
		font-weight: bold;
		font-size: 2.4rem;
	}
}

// aboutus

.aboutus {
	&__img {
		width: 100%;
	}

	&__heading {
		font-weight: bold;
		font-size: 2.4rem;
		margin: 1em 0 .5em;
	}

	&__text {
		text-align: justify;
	}
}

// hero img section

.hero-img-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	@include heroImg("../../dist/img/hero-img-small-02.jpg");

	&__shadow {
		@include shadowImg;
	}

	&__text {
		width: 70%;
		margin: 0 auto;
		padding: 1em 3em;
		border: 1px solid $white;
		text-align: center;
		color: $white;
	}
}

// offer

.offer {
	&__text {
		margin-bottom: 1em;
		text-align: center;

		&--two {
			margin: 1.5em 0 2.5em;
		}
	}

	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		margin: 1em;
		padding: 1.5em 2em;
		border-radius: 5px;
		box-shadow: 0 0 10px $box-shadow;
		text-align: center;

		&-heading {
			font-size: 2rem;
			font-weight: normal;
		}

		&-price {
			margin: .2em 0;
			font-size: 3rem;
			font-weight: bold;
		}

		&-content {
			text-align: start;
		}

		&-option {
			&--gray {
				color: $gray;
			}
			
			.fa-solid {
				margin-right: 1em;
				font-size: 1rem;
			}

			.fa-check {
				color: $green;
			}

			.fa-minus {
				color: $dark;
			}
		}

		&-btn {
			margin-top: 1em;
			color: $dark;
			@include button;
			transition: background-color .3s, transform .3s;

			&:hover {
				background-color: $light-white;
				transform: scale(.99);
			}

			&--green {
				box-shadow: 0 2px 5px $green;
				background-color: $green;
				color: $black;
				transition: background-color .3s, background-color .3s, color .3s;

				&:hover {
					box-shadow: 0 2px 5px $dark-green;
					background-color: $dark-green;
					color: $white;
				}
			}
		}
	}

	&__link {
		text-decoration: none;
		color: $green;
		
		&:link {
			color: $green;
		}

		&:visited {
			color: $dark-green;
		}
	}
}

// footer

.footer {
	background-color: $light-white;
	overflow: hidden;

	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	&__box {
		padding: 0 1em;

		&--one {
			padding-top: 1.5em;
		}

		&--two {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
	}

	&__brand {
		text-decoration: none;
		font-size: 3.2rem;
		color: $black;

		.fa-tree {
			color: $dark;
			margin: 0.25em;
			margin-right: 0.05em;
			margin-left: .75em;
		}
	}

	&__aboutus {
		grid-column: 1/2;
		grid-row: 1/2;
		margin: 1em;
	}

	&__company {
		grid-column: 1/2;
		grid-row: 2/3;
		margin: 1em;
	}

	&__docs {
		grid-column: 1/2;
		grid-row: 3/4;
		margin: 1em;
	}

	&__heading {
		margin-bottom: .8em;
		font-size: 2rem;
		font-weight: bold;
	}

	&__text {
		display: block;
		margin-bottom: 1em;
		text-decoration: none;
		font-size: 1rem;
		color: $gray;
	}

	&__copyrights {
		margin: 2em;
		text-align: center;
		font-size: 1rem;
		color: $gray;
	}
}


// ==========================================================
//                            media
// ==========================================================


@media (min-width: 576px) {
	.hero-img {
		&__header {
			font-size: 2rem;
		}

		&__text {
			font-size: 3.2rem;
		}
	}

	.offer {
		&__box {
			width: 60%;
		}
	}
}

@media (min-width: 768px) {
	.hero-img {
		&__text {
			font-size: 3.5rem;
			margin-bottom: 7em;
		}
	}

	.hero-img-section {
		&__text {
			font-size: 3rem;
		}
	}

    .offer {
		&__boxes {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}

		&__box {
			width: 45%;

			&--two {
				order: 1;
			}
		}
	}

	.footer {
		&__box {
			padding: 0 4em;

			&--one {
				padding-top: 2em;
				padding-bottom: 2em;
			}

			&--two {
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(1, 1fr);
			}
		}

		&__brand {
			.fa-tree {
				margin-left: 0.7em;
			}
		}

		&__aboutus {
			grid-column: 1/2;
			grid-row: 1/2;
		}

		&__company {
			grid-column: 2/3;
			grid-row: 1/2;
		}

		&__docs {
			grid-column: 3/4;
			grid-row: 1/2;
		}
	}
}

@media (min-width: 992px) {
	.hero-img {
		height: 60vh;
		@include heroImg("../../dist/img/hero-img-big.jpg");

		&__content {
			margin: 0 auto;
			width: 100%;
			max-width: 1200px;
		}

		&__header {
			margin-left: 9rem;
		}

		&__text {
			margin-left: 9rem;
			margin-bottom: 5em;
		}
	}

	.nav {
		.navbar {
			display: none;
		}

		&__mobile {
			display: none;
		}

		&__desktop {
			@include nav;
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 5em;
			box-shadow: 0 0 5px $shadow;
			background-color: $white;

			&-box {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
			}

			&-link {
				padding: 0 1.5em;
				height: 100%;
				font-size: 2rem;
				text-decoration: none;
				line-height: 4em;
				color: $black;

				&.active {
					color: $white;
					background-color: $black;
				}
			}
		}
	}

	.aboutus {
		&__content {
			display: flex;
			justify-content: space-evenly;
			align-items: flex-start;
		}

		&__img {
			width: 40%;
		}

		&__box {
			width: 40%;
		}

		&__heading {
			margin-top: 0;
			font-size: 3rem;
		}
	}

	.hero-img-section {
		@include heroImg("../../dist/img/hero-img-big-02.jpg");

		&__text {
			font-size: 4rem;
		}
	}

	.offer {
		&__box {
			width: auto;
			min-width: 250px;

			&--two {
				order: 0;
			}

			&-heading {
				font-size: 2.4rem;
			}

			&-price {
				font-size: 4.2rem;
			}
		}
	}

	.footer {
		&__boxes {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 3em 0;
		}

		&__box {
			&--one {
				padding-top: 0;
			}
		}

		&__brand {
			font-size: 4.8rem;
		}
	}
}

@media (min-width: 1200px) {
	.offer {
		&__text {
			margin-bottom: 2em;
			font-size: 2rem;

			&--two {
				margin-bottom: 4em;
			}
		}
	}

	.footer {
		&__boxes {
			justify-content: space-evenly;
		}
	}
}
